# Docker data
db/data/
# Dependencies
src/vendor/
src/node_modules/
# IDE & OS files
.idea/
.vscode/
.DS_Store
# Environment files
.env
src/.env

# Ignored credentials and db
db/data/
src/.env
.env
src/.env.vps
src/.env.vps_debug
*.docx
*.pem
